.grid-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.grid-list li {
    list-style: none;
    padding: 1em 1em;
    margin: 1em 1em;
}

.grid-list .grid-image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: lightgray;
    height: 278px;
    width: 185px;
}

.grid-list .selected {
    background-color: azure;
    border: 1px navy dotted;
}