.app {
}

.app .navbar {
  background-color: #282c34;
  color: white;
}

.app .navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.app .navbar .menu-icon {
  color: white;
  font-size: 24px;
}

.app .navbar .navbar-brand .branding {
  font-size: 36px;
  font-stretch: narrower;
  font-variant: small-caps;
  font-weight: bold;
  color: white;
  margin-left: 16px;
}

.app .navbar .navbar-brand .branding p {
  margin-top: -4px;
  margin-left: -4px;
}

.app .navbar .navbar-brand .branding p::first-letter {
  font-size: 130%;
  margin-right: -4px;
}

.app .navbar .navbar-brand .branding.logo {
  font-size: 48px;
}

.input.wide-search {
  min-width: 40vw;
}

.app-link {
  color: #61dafb;
}

.card-list .selection-row {
  background-color: lightskyblue;
  color: white;
}

.card-list .detail-list-dark {
  background-color: lightskyblue;
  color: white;
  margin-top: 0;
}